# default reviewers
* @greenbone/gea @greenbone/webapp-scanning

# dev ops
.github/ @greenbone/devops @greenbone/gea @greenbone/webapp-scanning
.docker/ @greenbone/devops @greenbone/gea @greenbone/webapp-scanning
